*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.subtitulo {
    margin: 20px 5px; /*agregue top-bottom 20px cambie-padding por margin*/
}

h3,h4{
    margin: 20px 5px; /*agregue top-bottom 20px cambie-padding por margin*/
}
h4{
    display: inline;
}
.vertodo{
    padding: 3px;
    background-color: rgb(117, 172, 202);
    color: #FFFF;
    border: 1px solid rgb(117, 172, 202);  /*unifique*/
    border-radius: 5px;
    text-decoration: none;
    
}
.muestrario{
    margin: 25px 0; /*agregue margin*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.tarjeta{
    margin: 5px;
    width: 250px;
    height: 350px;  /*agregue altura*/
    background-color: aliceblue;
    border: 2px solid rgb(218, 233, 247); /*unifique*/
    border-radius: 5px;
    position: relative;
}
.tarjeta img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.tarjeta h2, .tarjeta p, .tarjeta a{
    padding: 5px;
}
.tarjeta h2{
    font-size: 20px;
    color: rgb(2, 63, 83);
}
.tarjeta p{
    font-size: 15px;
    color: rgb(7, 80, 104);
}
.tarjeta a{
    margin: 5px;
    padding: 5px;
    background-color: rgb(117, 172, 202);
    color: #FFFF;
    border: 1px solid rgb(117, 172, 202);  /*unifique*/
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
}

.boton {
    position: absolute;
    bottom:0px;
    left: 0px;
}

.whatsapp {
    position: fixed;
    bottom: 60px;
    right: 15px;
    cursor: pointer;
}

.icon-wsp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}